<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"

</head>

<body>
    <h1>create accout</h1>
    <form>
        <div>
            <label for = "accout name">account name:</label>
            <input type = "text" name="accout name" id = "account name
            " required>
        </div>
        <div>
            <label for = "password">password:</label>
            <input type = "text" name="password" id = "password" required>
        </div>
        <div>
            <label for = "re-enter password">re-enter password:</label>
            <input type = "text" name="re-enter password" id = "re-enter password" required>
        </div>
        <div>
            <input type = "submit" value="sign Up">
        </div>
    </form>

    Already have an account? <a href="/index">Sign Up</a>
</body>

</html>